@import "/src/common/styles/templates";
@import "/src/common/styles/colors";
@import "/src/common/styles/variables";

.label {
  margin-bottom: $input-space;
  display: block;
  position: relative;
}

.input {
  color: $placeholder-text-color;
  font-family: inherit;
  font-size: 1.2rem;
  @extend %input;

  &::placeholder {
    color: inherit;
    font-family: inherit;
  }
}

.error {
  padding-right: 2rem;
  color: $error-color;

  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  &::first-letter {
    text-transform: uppercase;
  }
}
