@import "/src/common/styles/variables";
@import "/src/common/styles/colors";

.authButton {
  height: fit-content;
  padding: 1rem 1.2rem;
  display: flex;
  align-items: center;

  border: 1px solid $light-color;
  border-radius: $border-radius;
  color: $light-color;

  font-weight: $bold-weight;
  font-size: 1.2rem;
}
