@import "./variables";
@import "./colors";

%input {
  width: 100%;
  padding: 2rem;
  border: none;
  border-radius: $border-radius;
}

%alignItems {
  margin: auto;
}

@mixin header($font-size) {
  margin: 2rem 0;
  color: $light-color;
  text-transform: uppercase;
  text-align: center;
  font-weight: $bold-weight;
  font-size: $font-size;
}

%subHeader {
  margin: auto;
  margin-bottom: 2rem;
  color: $light-color;
  text-align: center;
  font-size: 1.4rem;
}
