@import "/src/common/styles/colors";
@import "/src/common/styles/variables";
@import "/src/common/styles/templates";

.rememberPwdContainer {
  display: flex;
  justify-content: space-between;
}

.restorePwd {
  color: $light-color;
  text-transform: capitalize;
}

.header {
  @include header(2.5rem);
}
